:root {
  --logo-color-blue: #4d5ae5;
  --footer-color: #2e2f42;
  --change: #404bbf;
  --contacts: #434455;
  --section-color: #ffffff;
  --footer-logo: #f4f4fd;
  --pageColor: #e7e9fc;
  --foot-svg: #31d0aa;
  --input-color: #8e8f99;
  --background-var: rgba(46, 47, 66, 0.7);
  --transition-: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  max-width: 767px;
  justify-content: center;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  display: flex;
  height: 56px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 320px;
  align-items: center;
  min-width: 320px;
  margin: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: auto;
  /* justify-content: center; */
  flex-grow: 1;
}
.header-logo {
  width: 115px;
  height: 24px;
  top: 16px;
  /* left: 16px; */
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo .header-logo-color {
  color: var(--logo-color-blue);
}
.header-menu-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-nav {
  display: flex;
}

.header-menu-item {
}
.header-menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--footer-color);
}

.header-right-part {
  display: flex;
}

.header-soc-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-soc-item {
}
.header-soc-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--contacts);
}

.modal-open-btn {
  background-color: transparent;
  stroke: #2f2f37;
  border: none;
  width: 100%;
  height: 100%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: transparent;
  margin: 0;
  padding: 16px 0;
  margin-right: 16px;
  max-width: 24px;
  max-height: 24px;
  left: 16px;
}

.modal-open-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    margin: auto;
    max-width: 1440px;
    width: 1158px;
    justify-content: center;
  }

  .header-menu-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    gap: 40px;
  }

  .header-menu-list:not(:last-child) {
    gap: 24px;
  }
  .header-right-part {
    display: flex;
  }

  .header-soc-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .modal-open-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 72px;
    max-width: 1157px;
    margin: auto;
  }

  .header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
  }

  .header-logo {
    margin-right: 120px;
    margin-left: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
    align-items: center;
  }

  .modal-open-btn {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    justify-content: center;
    width: 1158px;
  }

  .header-menu-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    gap: 40px;
  }

  /* .header-menu-list:focus,
  .header-menu-list:hover,
  .header-menu-list:active {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color-blue);
    border-radius: 2px;
  } */

  .header-menu-list:not(:last-child) {
    gap: 24px;
  }
  .header-right-part {
    display: flex;
  }

  .header-soc-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .modal-open-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 72px;
    max-width: 1158px;
    margin: auto;
    /* flex-grow: 1; */
  }

  .header-nav {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    /* justify-content: center; */
  }

  .header-logo {
    margin-right: 76px;
    margin-left: 200px;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
    padding-right: 76px;
  }

  .modal-open-btn {
    visibility: hidden;
    display: none;
  }
}
