:root {
  --logo-color-blue: #4d5ae5;
  --footer-color: #2e2f42;
  --change: #404bbf;
  --contacts: #434455;
  --section-color: #ffffff;
  --footer-logo: #f4f4fd;
  --pageColor: #e7e9fc;
  --foot-svg: #31d0aa;
  --input-color: #8e8f99;
  --background-var: rgba(46, 47, 66, 0.7);
  --transition-: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  /* max-width: 767px; */
  justify-content: center;
  max-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  display: flex;
  height: 56px;
  position: relative;
  justify-content: space-between;
  width: 320px;
  align-items: center;
  /* min-width: 320px; */
  margin: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  flex-grow: 1;
  width: 320px;
}
.header-logo {
  width: 115px;
  height: 24px;
  top: 16px;
  /* left: 16px; */
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.header-logo .header-logo-color {
  color: var(--logo-color-blue);
}
.header-menu-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-nav {
  display: flex;
}

.header-menu-item {
}
.header-menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--footer-color);
}

.header-right-part {
  display: flex;
}

.header-soc-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
.header-soc-item {
}
.header-soc-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--contacts);
}

.modal-open-btn {
  background-color: transparent;
  stroke: #2f2f37;
  border: none;
  width: 100%;
  height: 100%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: transparent;
  margin: 0;
  padding: 16px 0;
  /* margin-right: 16px; */
  max-width: 24px;
  max-height: 24px;
  left: 16px;
}

.modal-open-icon {
  width: 24px;
  height: 24px;
}

/* -------------------HERO--------------------------*/

.hero-wrap {
  background-color: #2e2f42b2;
  background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
    url(../images/hero-background-image-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  margin: 0 auto;
  height: 432px;
}
.hero-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--section-color);
  padding-top: 72px;
  padding-left: 52px;
  padding-right: 52px;
}

.hero-btn {
  width: 169px;
  height: 56px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--logo-color-blue);
  margin-top: 72px;
  margin-left: 75px;
  margin-right: 76px;
}

.hero-btn:focus,
.hero-btn:hover {
  color: var(--change);
}

.hero-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--section-color);
}

/* ------------------OPTIONS------------------ */

.options-image-wrap {
  display: none;
  fill: transparent;
}

.options-section {
  height: 696px;
  margin-top: 96px;
  margin-bottom: 72px;
}

.options-link {
  width: 64px;
  height: 64px;
}

.options-item:not(:last-child) {
  margin-bottom: 72px;
}

.options-list {
}

.options-title {
  margin-bottom: 8px;
  width: 288px;
  height: 40px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.options-text {
  width: 288px;
  height: 72px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*------------OPTIONS--------------*/

/*-----------------TEAM--------------------*/
.team-section {
  background-color: var(--footer-logo);
}
.team-title {
  /* height: 40px; */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
  align-items: center;
}
.team-members {
  justify-content: center;
  height: 428px;
  background-color: var(--section-color);
}

.team-members:not(last child) {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.members-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 32px;
}
.membres-profession {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  width: 232px;
  margin-left: 16px;
  margin-bottom: 72px;
  padding-bottom: 32px;
}

.soc-list:not(last child) {
  gap: 24px;
}

.soc-item {
  width: 40px;
  height: 40px;
  background-color: var(--logo-color-blue);
  border-radius: 50%;
  position: relative;
}
.soc-icon {
  fill: var(--section-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------PORTFOLIO----------------------*/

.portfolio-section {
  min-width: 320px;
}
.portfolio-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
  align-items: center;
}
.portfolio-list {
}

.thumb {
  position: relative;
  overflow: hidden;
}

.portf-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portf-link:hover,
.portf-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  background-color: var(--logo-color-blue);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--footer-logo);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portf-link:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-item {
  margin-left: 16px;
  margin-right: 16px;
  width: 288px;
  height: 400px;
  box-shadow: 0px 2px 6px 0px #2e2f4214;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-image {
  height: 280px;
  box-sizing: border-box;
  min-width: 288px;
}
.portfolio-app-data {
}
.portfolio-item-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--footer-color);
  padding-top: 32px;
  padding-left: 16px;
}
.portfolio-text {
  padding-top: 8px;
  padding-left: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--contacts);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
    margin: 0 auto;
    max-width: 1440px;
    /* width: 1158px; */
  }

  .header-menu-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    gap: 40px;
  }

  .header-menu-list:not(:last-child) {
    gap: 24px;
  }
  .header-right-part {
    display: flex;
  }

  .header-soc-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .modal-open-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 72px;
    width: 768px;
    margin: auto;
  }

  .header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
  }

  .header-logo {
    margin-right: 120px;
    margin-left: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
    align-items: center;
  }

  .modal-open-btn {
    visibility: hidden;
    display: none;
  }

  /* -------------------HERO--------------------------*/

  .hero-wrap {
    background-color: #2e2f42b2;
    background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
      url(../images/hero-background-image-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 768px;
    margin: 0 auto;
    height: 436px;
  }

  .hero-title {
    width: 456px;
    height: 120px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 112px;
  }

  .hero-btn {
    margin: 0 auto;
    margin-top: 136px;
    margin-left: 300px;
    margin-right: 299px;
  }
  .hero-btn:focus,
  .hero-btn:hover {
    color: var(--change);
  }

  /* ------------------OPTIONS------------------ */

  .options-section {
    width: 100%;
    padding-top: 96px;
    /* padding-right: 16px; */
    height: 312px;
    /* justify-content: center; */
    margin: 0 auto;
    margin-bottom: 96px;
    height: 100%;
  }
  .options-wrap {
  }
  .options-list {
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .options-item {
    width: calc((100% - 24px) / 2);
    gap: 24px 72px;
  }

  .options-image-wrap {
  }
  .options-image {
  }
  .options-link {
  }
  .options-title {
    width: 264px;
    height: 40px;
    text-align: left;
  }
  .options-text {
    width: 356px;
  }

  /*-----------------TEAM--------------------*/

  .team-section {
    width: 100%;
    padding-top: 96px;
    min-height: 312px;
    margin: 0 auto;
    background-color: var(--footer-logo);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-members {
    margin-bottom: 64px;
    background-color: var(--section-color);
  }

  .team-list:nth-child(odd) {
    display: grid;
    gap: 24px;
  }

  .memberone,
  .memberthree {
    margin-right: 24px;
  }

  .soc-list {
    display: flex;
    width: 232px;
    margin-left: 16px;
    margin-bottom: 64px;
    padding-bottom: 32px;
  }

  /*--------------------PORTFOLIO----------------------*/

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 16px 0;
    padding: 0;
    list-style: none;
  }

  .portfolio-image {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
  }
  .portf-link {
    width: 356px;
  }

  .portfolio-item {
    flex: 0 1 calc(50% - 24px);
    box-sizing: border-box;
    box-shadow: 0px 2px 6px 0px #2e2f4214;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }

  .header-menu-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    gap: 40px;
  }

  .header-menu-list:not(:last-child) {
    gap: 24px;
  }
  .header-right-part {
    display: flex;
  }

  .header-soc-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 156px;
  }

  .modal-open-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 72px;
    width: 1440px;
    margin: 0 auto;
    /* flex-grow: 1; */
  }

  .header-nav {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    /* justify-content: center; */
  }

  .header-logo {
    margin-right: 76px;
    margin-left: 200px;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
    padding-right: 76px;
  }

  .modal-open-btn {
    visibility: hidden;
    display: none;
  }

  .hero-wrap {
    background-size: cover;
    background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
      url(../images/hero-background-image-screen.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    margin: 0 auto;
    height: 600px;
    display: block;
  }

  .hero-title {
    width: 496px;
    /* height: 120px; */
    margin: 0 auto;
    padding: 0 0 0 0;
    padding-top: 188px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--section-color);
  }

  .hero-btn {
    margin: 0 auto;
    margin-top: 48px;
    margin-left: 635px;
    margin-right: 636px;
  }

  .hero-btn:focus,
  .hero-btn:hover {
    background-color: var(--change);
  }

  /* ------------------OPTIONS------------------ */
  .options-section {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    min-height: 224px;
    height: 464px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }
  .options-wrap {
    /* width: 1128px; */
    display: flex;
    justify-content: center;
  }
  .options-list {
    margin-top: 120px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: 1128px;
    justify-content: center;
  }

  .options-item {
    width: 264px;
  }
  /* 
  .options-item:not(:last-child) {
    margin-right: 24px;
  } */
  .options-image-wrap {
    display: flex;
    width: 264px;
    height: 112px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: var(--footer-logo);
    position: relative;
    border-color: var(--footer-color);
  }
  .options-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .options-link {
  }
  .options-title {
    color: var(--footer-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .options-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 264px;
  }
  /*--------------------TEAM-----------------*/
  .team-section {
    width: 100%;
    min-height: 312px;
    margin: 0 auto;
    background-color: var(--footer-logo);
    height: 100%;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-members {
    margin-bottom: 64px;
    width: ((100%-3 * 24)/4);
    background-color: var(--section-color);
  }

  .team-list:not(:last-child) {
    padding-right: 24px;
  }

  .team-title {
    padding-top: 120px;
  }

  /*--------------------PORTFOLIO----------------------*/

  .portfolio-section {
    width: 100%;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* margin: 16px 0; */
    padding: 0;
    list-style: none;
    justify-content: center;
  }

  .portfolio-image {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
  }
  .portf-link {
    width: 360px;
  }

  .portfolio-item {
    width: 360px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px 0px #2e2f4214;
    margin: 0;
    padding: 0;
  }
}
